body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

#root {
  font-size: 1.5em;
  line-height: 1.5;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: white;
  background: url("images/background.preload.jpg") 0 0 / cover no-repeat;
  image-rendering: optimizeSpeed;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.section-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 50vmin rgba(0, 0, 0, 0.5) inset;
}

section {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  width: 80vmin;
  height: 90vh;
  border-radius: 1em;
  box-shadow: 0 0 10vmin inset black;
}

section:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 0.1) 2%,
    rgba(0, 0, 0, 0) 4%,
    rgba(0, 0, 0, 0) 96%,
    rgba(255, 255, 255, 0.1) 98%,
    rgba(0, 0, 0, 0)
  );
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
}

.background-image img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

button {
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5em;
}

button:hover {
  cursor: pointer;
  color: white;
  background: #1a73e8;
}

h1 {
  line-height: 1;
}

a {
  color: cyan;
}

li {
  margin-bottom: 1em;
  list-style: square;
}

#intro {
  height: auto;
  max-height: 90vh;
  background: rgba(0, 0, 0, 0.75);
}

#intro > div {
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
  padding: 1em;
  transform: translateZ(0);
}

#intro button {
  font-size: 1em;
  display: block;
  margin: 2em auto;
}

#game {
  position: relative;
  height: 90vmin;
  background: rgba(0, 0, 0, 0.6);
}

.board {
  font-size: 0;
  position: relative;
  overflow: hidden;
  width: 80vmin;
  height: 80vmin;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24'%3E%3Cpath fill='rgba(0, 0, 0, 0.65)' d='M0 0h12v12H0zm12 12h12v12H12z'/%3E%3C/svg%3E");
  background-size: 20vmin 20vmin;
}

.gem {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 10vmin;
  height: 10vmin;
  cursor: pointer;
  user-select: none;
  transition: 0.15s transform;
  border: 2px solid transparent;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 80% 80%;
}

.gem:hover {
  border-color: white;
}

.gem[data-value="0"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='127' width='127'%3E%3Cpath d='M111.53 23.64c-1.35-2.86-5.07-5.15-8.24-5.15H23.67c-3.16 0-6.89 2.3-8.23 5.15L.7 53.9c-1.35 2.85-.71 6.97 1.58 9.19l57.12 56.24a5.83 5.83 0 0 0 8.16 0l57.12-56.24a8.68 8.68 0 0 0 1.59-9.2l-14.74-30.25z' class='fil1' clip-rule='evenodd' fill='%23ff9aa7' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath class='fil2' clip-rule='evenodd' fill='%23f4ffd3' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' d='M28.35 64.75L73.9 31.87l9.11 11.8-45.95 33.2zm7.52 22.42L87.68 49.7l3.49 4.52L39.2 91.85z'/%3E%3Cpath d='M126.58 59.84c.64-1.98.56-4.2-.32-5.94l-14.73-30.26a9.16 9.16 0 0 0-3.4-3.57l-13.4 38.82 31.85.95zm-94.27-.95l31.21-40.32H23.75c-1.66 0-3.56.7-5.07 1.74l13.63 38.58z' class='fil3' clip-rule='evenodd' fill='%23ff585c' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M108.44 20.23a9.76 9.76 0 0 0-5.07-1.74H63.6L94.81 58.8l13.63-38.58z' class='fil4' clip-rule='evenodd' fill='%23ff717f' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M18.84 20.15a9.94 9.94 0 0 0-3.33 3.48L.78 53.9a8.31 8.31 0 0 0-.48 5.23l32.4.87-13.86-39.85z' class='fil5' clip-rule='evenodd' fill='%23f43f48' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M32.7 59.92L.3 59.05a8.46 8.46 0 0 1-.23-1.98c0-1.11.23-2.3.7-3.25l14.74-30.26a8.75 8.75 0 0 1 3.33-3.49L32.7 59.92z' class='fil6' clip-rule='evenodd' fill='%23dc3f5a' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M2.36 63.09l57.12 56.24c.8.8 1.82 1.27 2.85 1.51L32.31 58.89H.22a7.9 7.9 0 0 0 2.14 4.2z' class='fil7' clip-rule='evenodd' fill='%23fe516e' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M64.71 120.84a5.87 5.87 0 0 0 2.85-1.5l57.12-56.25a8.2 8.2 0 0 0 2.14-4.2H94.74L64.7 120.84z' class='fil5' clip-rule='evenodd' fill='%23f43f48' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M126.58 59.84l.24-.95-.24.95z' class='fil8' clip-rule='evenodd' fill='%23e75269' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M64.71 120.84l30.02-61.95h32.09l-.24.95a7.84 7.84 0 0 1-1.9 3.25l-57.12 56.24c-.79.8-1.82 1.27-2.85 1.51z' class='fil6' clip-rule='evenodd' fill='%23dc3f5a' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M32.31 58.89l30.02 61.95c.8.16 1.59.16 2.46 0l30.02-61.95h-62.5z' class='fil9' clip-rule='evenodd' fill='%23ff6d81' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3C/svg%3E");
}

.gem[data-value="1"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 342.83 342.83'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath d='M0 980h1400V0H0z'/%3E%3C/clipPath%3E%3CclipPath id='b'%3E%3Cpath d='M261.66 220.62h102.12v-65.24H261.66z'/%3E%3C/clipPath%3E%3CclipPath id='c'%3E%3Cpath d='M261.66 418.23h102.12v-65.25H261.66z'/%3E%3C/clipPath%3E%3CclipPath id='d'%3E%3Cpath d='M222.28 378.83h44.9V194.77h-44.9z'/%3E%3C/clipPath%3E%3CclipPath id='e'%3E%3Cpath d='M358.27 378.83h44.9V194.77h-44.9z'/%3E%3C/clipPath%3E%3CclipPath id='f'%3E%3Cpath d='M222.28 240.46H287v-85.08h-64.73z'/%3E%3C/clipPath%3E%3CclipPath id='g'%3E%3Cpath d='M338.43 418.23h64.73v-85.09h-64.73z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cpath d='M101.37 342.83L50 291.45V51.38L101.37 0h133.2l51.36 51.38v240.07l-51.37 51.38z' fill='%23ffa40f'/%3E%3Cpath d='M120.76 292.93L84.34 256.5V86.33l36.42-36.43h94.42l36.41 36.43V256.5l-36.41 36.43z' fill='%23f4c121'/%3E%3Cpath d='M134.43 257.74l-25.87-25.88V110.97l25.87-25.87h67.07l25.87 25.87v120.89l-25.87 25.88z' fill='%23ffe114'/%3E%3Cg clip-path='url(%23a)' transform='matrix(1.3043 0 0 -1.3043 -239.92 545.5)'%3E%3Cg clip-path='url(%23b)' opacity='.4'%3E%3Cpath d='M261.66 155.38l25.35 65.24h51.42l25.35-65.24z' fill='%23f5960b'/%3E%3C/g%3E%3Cg clip-path='url(%23c)' opacity='.4'%3E%3Cpath d='M363.78 418.22l-25.35-65.24h-51.42l-25.35 65.24z' fill='%23ee900b'/%3E%3C/g%3E%3Cg clip-path='url(%23d)' opacity='.4'%3E%3Cpath d='M222.28 378.83l44.9-45.69v-92.68l-44.9-45.69z' fill='%23e18506'/%3E%3C/g%3E%3Cg%3E%3Cg clip-path='url(%23e)' opacity='.4'%3E%3Cpath d='M403.17 194.77l-44.9 45.69v92.68l44.9 45.7z' fill='%23d17904'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg clip-path='url(%23f)' opacity='.4'%3E%3Cpath d='M267.17 240.46l19.84-19.84-25.35-65.24-39.38 39.4z' fill='%23f2920f'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg clip-path='url(%23g)' opacity='.4'%3E%3Cpath d='M358.27 333.14l-19.84 19.84 25.35 65.24 39.39-39.39z' fill='%23f2920f'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.gem[data-value="2"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='127' height='127'%3E%3Cpath class='fil41' d='M67.47 1.41a4.11 4.11 0 0 0-6.2 0L29.13 37A13.8 13.8 0 0 0 26 45.1v36.83A14 14 0 0 0 29.14 90l32.12 35.57a4.11 4.11 0 0 0 6.2 0L99.6 90.01a13.8 13.8 0 0 0 3.14-8.1V45.09A14 14 0 0 0 99.6 37L67.47 1.41z' text-rendering='geometricPrecision' shape-rendering='geometricPrecision' image-rendering='optimizeQuality' clip-rule='evenodd' fill='%2341d734'/%3E%3Cpath text-rendering='geometricPrecision' shape-rendering='geometricPrecision' image-rendering='optimizeQuality' fill='%2353db69' clip-rule='evenodd' class='fil42' d='M28.2 38.17A14.28 14.28 0 0 0 26 45v36.84a14 14 0 0 0 3.14 8.09l1.26 1.41c8.87-3.77 18.77-8.17 19.79-8.48 1.89-.7 0-34.48 0-34.48L28.28 38.17z'/%3E%3Cpath text-rendering='geometricPrecision' shape-rendering='geometricPrecision' image-rendering='optimizeQuality' fill='%2349cc3e' clip-rule='evenodd' class='fil43' d='M29.14 37a13.06 13.06 0 0 0-2.28 4l22.23 8.24L64.41 30V0c-1.1 0-2.28.47-3.15 1.41L29.14 37z'/%3E%3Cpath text-rendering='geometricPrecision' shape-rendering='geometricPrecision' image-rendering='optimizeQuality' fill='%23c2f26f' clip-rule='evenodd' class='fil44' d='M79.88 49.24L101.87 41a10.92 10.92 0 0 0-2.28-4L67.47 1.4A4.15 4.15 0 0 0 64.41 0v30l15.47 19.24z'/%3E%3Cpath text-rendering='geometricPrecision' shape-rendering='geometricPrecision' image-rendering='optimizeQuality' fill='%2319b077' clip-rule='evenodd' class='fil45' d='M48.78 77.67l-21.84 8.57a13.8 13.8 0 0 0 2.12 3.69L61.2 125.5a4.19 4.19 0 0 0 3.14 1.4v-29.6L48.78 77.75z'/%3E%3Cpath text-rendering='geometricPrecision' shape-rendering='geometricPrecision' image-rendering='optimizeQuality' fill='%2356dd84' clip-rule='evenodd' class='fil46' d='M99.6 89.93c.85-.95 1.56-2.28 2.11-3.7l-21.83-8.55-15.55 19.55v29.61c1.1 0 2.28-.47 3.06-1.41l32.12-35.58z'/%3E%3Cpath d='M44.53 47.52l19.8-21.92L84.2 47.52V79.4l-19.87 21.92-19.8-21.92z' text-rendering='geometricPrecision' shape-rendering='geometricPrecision' image-rendering='optimizeQuality' fill='%23ebfd7a' clip-rule='evenodd' class='fil47'/%3E%3Cpath class='fil10' d='M84.2 67.23V61.5L50.43 85.92l3.14 3.46L84.2 67.23zm-39.67.47l35.03-25.29 4.64 5.19v6.28l-37.94 27.4-1.73-1.88V67.7z' clip-rule='evenodd' fill='%23fefbfb' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3C/svg%3E");
}

.gem[data-value="3"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127 127'%3E%3Cpath d='M47.43 26.46h31.32L89.28 1.08A13.94 13.94 0 0 0 84.61 0H42.3c-1.45 0-3.16.45-4.69 1.08l9.81 25.38z' class='fil18' clip-rule='evenodd' fill='%2373d5d4' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M26.91 48.33l21.33-21.5L37.71 1.07a10.87 10.87 0 0 0-4.05 2.61L3.78 33.57c-.99 1-1.89 2.52-2.61 4.05L27 48.33z' class='fil19' clip-rule='evenodd' fill='%2345ade9' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M1.08 89.38a11.96 11.96 0 0 0 2.52 4.05l29.97 29.97c1 .99 2.52 1.89 4.05 2.52l10.17-24.66L25.65 79.1 1 89.29z' class='fil20' clip-rule='evenodd' fill='%2348a6e4' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M100.8 47.43l-.26 32.5 25.38 9.44A13.49 13.49 0 0 0 127 84.7V42.4c0-1.44-.45-3.15-1.08-4.68l-25.11 9.72z' class='fil21' clip-rule='evenodd' fill='%2360d0fa' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M78.75 25.74l22.5 22.14 24.67-10.17a10.87 10.87 0 0 0-2.61-4.05L93.43 3.78a14.96 14.96 0 0 0-4.05-2.61L78.85 25.83z' class='fil22' clip-rule='evenodd' fill='%23bde8f1' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M0 42.4v42.3c0 1.43.45 3.05 1.08 4.67L25.74 79.2V47.88L1.08 37.71A13.48 13.48 0 0 0 0 42.4z' class='fil23' clip-rule='evenodd' fill='%2373d4fc' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M42.3 127h42.3c1.44 0 3.06-.45 4.68-1.08L78.48 100H48.42l-10.8 25.92c1.62.63 3.24 1.08 4.68 1.08z' class='fil24' clip-rule='evenodd' fill='%233392d0' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M100.54 78.84L78.57 100l10.8 25.92a10.87 10.87 0 0 0 4.05-2.61l29.89-29.88c.99-1 1.89-2.52 2.6-4.05l-25.37-10.54z' class='fil25' clip-rule='evenodd' fill='%2368d2d0' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath class='fil26' clip-rule='evenodd' fill='%2394dce2' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision' d='M25.74 47.88L47.8 25.74h31.32l22.15 22.14V79.2L79.1 101.35H47.8L25.74 79.2z'/%3E%3Cpath class='fil10' d='M41.58 95.14l59.68-43.12v-4.14l-9.72-9.72L29.52 83zm6.3 6.2h11.16l42.22-30.6v-8zm55.8-9.71c-69.12 23.58-34.56 11.79 0 0z' clip-rule='evenodd' fill='%23fefcfc' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3C/svg%3E");
}

.gem[data-value="4"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='127' height='127'%3E%3Cpath d='M125.86 60.82a3.77 3.77 0 0 1 0 5.4l-59.64 59.64a3.77 3.77 0 0 1-5.4 0L1.18 66.22a3.77 3.77 0 0 1 0-5.4L60.82 1.18a3.77 3.77 0 0 1 5.4 0l59.64 59.64z' class='fil34' clip-rule='evenodd' fill='%238f6fcc' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M89.92 24.89L77.61 12.57 21 53.48 31.03 67.4l58.8-42.52zm11.05 11.05l-67.4 48.75-3.88-5.31L96.25 31.2l4.72 4.73z' class='fil35' clip-rule='evenodd' fill='%23edadd2' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M33.66 98.78l27.08 27.08a3.77 3.77 0 0 0 5.4 0l38.3-38.3 9.02-24.04H16.62l16.95 35.26z' class='fil36' clip-rule='evenodd' fill='%23695ec4' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M61.5.59c-.26.17-.51.34-.68.5L1.18 60.75a3.69 3.69 0 0 0-1.1 2.7h41.17L61.58.5z' class='fil37' clip-rule='evenodd' fill='%23624cbd' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M85.79 63.52h41.17a3.7 3.7 0 0 0-1.1-2.7L66.22 1.18c-.25-.25-.42-.42-.67-.5L85.88 63.6z' class='fil38' clip-rule='evenodd' fill='%23bc7bce' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M60.82 125.86c.17.25.42.42.68.5L41.17 63.43H0a3.7 3.7 0 0 0 1.1 2.7l59.64 59.64z' class='fil39' clip-rule='evenodd' fill='%236043b7' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3Cpath d='M85.79 63.52l-20.33 62.93c.25-.17.5-.34.68-.5l59.64-59.65a3.69 3.69 0 0 0 1.1-2.7H85.7z' class='fil40' clip-rule='evenodd' fill='%236141b6' image-rendering='optimizeQuality' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'/%3E%3C/svg%3E");
}

.top-bar {
  font-size: 3vmin;
  line-height: 7.75vmin;
  display: flex;
  align-items: center;
  padding: 1.25vmin 2vmin 0 2vmin;
  white-space: nowrap;
  background: #111;
}

.top-bar span {
  display: inline-block;
  vertical-align: middle;
}

.top-bar b {
  font-size: 5vmin;
  margin-left: 0.5vmin;
}

.top-bar button {
  font-size: 4vmin;
  line-height: 6vmin;
  padding: 0 0.5em;
  vertical-align: baseline;
}

.score {
  overflow: hidden;
  width: 30.5vmin;
  text-overflow: ellipsis;
}

.menu {
  width: 15vmin;
  text-align: center;
}

.time {
  width: 30.5vmin;
  text-align: right;
}

.time small {
  font-size: 3vmin;
  margin-left: 0.6vmin;
}

.start {
  font-size: 6.5vmin;
  font-weight: bold;
  line-height: 7.75vmin;
  position: absolute;
  top: 1.25vmin;
  right: 0;
  left: 0;
  width: 24vmin;
  margin: auto;
  transition: 0.25s opacity;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
  color: red;
  background: black;
}

.times-up {
  font-size: 7.5vmin;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  animation: 1s fade-in both;
  background: rgba(0, 0, 0, 0.75);
}

@keyframes fade-in {
  0% {
    transform: scale3d(3, 3, 1);
    opacity: 0;
  }
  100% {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

#menu,
#credits {
  text-align: center;
  background: rgba(0, 0, 0, 0.75);
}

#menu > div,
#credits > div {
  overflow-y: auto;
  box-sizing: border-box;
  height: 100%;
  padding: 1em;
  transform: translateZ(0);
}

#menu .button-container,
#credits .button-container,
#menu .stats-container {
  margin: 2em auto;
}

#menu button,
#credits button {
  font-size: 1em;
  display: block;
  margin: 1em auto;
}

#credits {
  text-align: left;
}

input[type="range"] {
  display: block;
  width: 75%;
  margin: 1.5em auto;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-moz-range-track {
  height: 0.35em;
  border: 2px solid black;
  border-radius: 0.5em;
  background: white;
}

input[type="range"]::-moz-range-thumb {
  width: 1.25em;
  height: 2.5em;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 0.5em;
  background: white;
}

input[type="range"]:hover::-moz-range-thumb {
  background: #1a73e8;
}
